<p>Average age: <%= @average_age %></p>

 <% @comedians.each do |comedian| %>
  <%= comedian.name %>
  <%= comedian.age %>
  <% comedian.specials.each do |special| %>
    <%= special.title %>
  <% end %>
 <% end %>
